{{!-- 
<div class="container">
        <h3 class=" form-header">Log In</h3>
        <form role="form" data-toggle="validator" action="/login" method="post">
            <div class="form-group">
                <label>Username</label>
                <input type="text" class="form-control" name="username" data-error="Please enter UserName"
                    placeholder="Username" required>

                <!-- Error -->
                <div class="help-block with-errors"></div>
            </div>
            <div class="form-group">
                <label>Password</label>
                <div class="form-group">
                    <input type="password" data-minlength="8" class="form-control" name="password"
                        data-error="Have atleast 8 characters" placeholder="Password" required />

                    <!-- Error -->
                    <div class="help-block with-errors"></div>
                </div>
            </div>
            <div class="form-group">
                <button type="submit" class="submit-btn btn-block">Log In</button>
            </div>

        </form>

        <div class="redirect-btn">
            <a href="/signup"> <button class="login-btn ">Create new User</button></a>
        </div>

    </div> --}}
